.custom_footer{
    background-color:#064AFE;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }